<div class="row mb-2">
    <div class="col-12 text-right">
        {% embed 'widgets/button-widget.html.twig' %}
            {% block btn_group %}
                {% import '@AdminLTE/Macros/buttons.html.twig'  as btn %}
                {% if is_granted('ROLE_GESTIONNAIRE') %}
                    {{ btn.link_button(
                        '',
                        path(route_sort),
                        'fas fa-sort-alpha-down',
                        'secondary',
                        'secondary'
                    ) }}
                    {{ btn.link_button(
                        '',
                        path(route_add),
                        'fa fa-plus',
                        'success',
                        'success'
                    ) }}
                {% endif %}
            {% endblock %}
        {% endembed %}
    </div>
</div>