{% import '@AdminLTE/Macros/buttons.html.twig'  as btn %}
{% if is_granted('ROLE_GESTIONNAIRE') %}
    <div class="row mb-2">
        <div class="col-12 text-right">
            {{ btn.link_button(
                '',
                path(route_add),
                'fa fa-plus',
                'success',
                'success'
            ) }}
        </div>
    </div>
{% endif %}