{% extends './mail/template.html.twig' %}

{% block title %} Message envoyé depuis l'application {% endblock %}
{% block title_content %} Message envoyé depuis l'application {% endblock %}

{% block body %}
        <p>Un message pour l'action ci-dessous vous est envoyé depuis l'application :</p>
        <p>
            {{ content | raw }}
        </p>
        <p>
            {{ include('mail/_view/_backpack.html.twig',{'action': action }) }}
        </p>
{% endblock %}

