{% extends 'base.html.twig' %}

{% block page_content %}

    <div class="row">
        <div class="col-md-6 offset-md-3" >
            {# ... box widget with defaults ... #}
            {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}

                {% import '@AdminLTE/Macros/buttons.html.twig'  as btn %}

                {% block box_body %}
                    {% for entry in entries %}
                        <div class="row ">
                            <div class="col-sm-8">
                                <a href="{{ path(entry.route)}}" target="_blank">
                                    <i class="fas fa-angle-right text-purple"></i>  {{ entry.name }}
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                {% endblock %}
            {% endembed %}
        </div>
    </div>
{% endblock %}