{% macro view(item) %}
    <a href="{{ path('corbeille_show', {'id': item.id}) }}" class="card m-0 text-p-light">
        <div class="card-body text-center align-middle p-1 bg-p-dark">
            <span class="{% if item.isEnable is same as(false) %}text-warning text-bold{% endif %}">
                {{ item.fullName }}
            </span>
        </div>
    </a>
{% endmacro %}

{% macro views(items) %}
    {% import _self as org %}
    <div class="{{ row_lst }} ">
        {% for item in items %}
            {{ org.view(item) }}
        {% endfor %}
    </div>
{% endmacro %}