{% macro view(item,card) %}

        <a href="{{ path('user_show', {'id': item.id}) }}" class="card m-0">
            <div class="card-body pl-1 p-0 bg-primary">
            <span class="{% if item.isEnable is same as(false) %}text-warning text-bold{% endif %}">
                {{ item.name }}
            </span>
            </div>
        </a>

{% endmacro %}

{% macro views(items) %}
    {% import _self as usr %}
    <div class="{{ row_lst }}">
        {% for item in items %}
            {{ usr.view(item) }}
        {% endfor %}
    </div>
{% endmacro %}

