
.div_tree {
    background-color: #f9f9f9;
    padding: 10px 5px;
    max-height: 75vh;
}

.dataTables_info {
    padding-left: 20px;
    padding-bottom: 5px;
    color: #6c757d !important;
}

.dataTables_filter {
    padding-right: 10px;
}

.content-header {
    height: 50px;
    border-top: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1) !important;
    background-color: #fff !important;
    padding: 10px 0 50px 10px;
    margin-bottom: 30px;
}

.navbar-badge {
    right: 0;
    top: 2px;
    font-size: .6rem !important;
    font-weight: 300;
}

h1 > small {
    color:gray;
}

.thead-default th {
    color: #464a4c;
    background-color: #eceeef;
}

