{% import "macros/delele.html.twig" as del %}
{% import '@AdminLTE/Macros/buttons.html.twig'  as btn %}
<div class="btn-toolbar  float-right" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">
        {{ btn.link_button(
            '',
            path(route_list),
            'fa fa-list',
            'secondary',
            'secondary'
        ) }}
        {% if is_granted('ROLE_GESTIONNAIRE') %}
            {{ del.delete_btn('','show') }}
            {{ btn.link_button(
                '',
                path(route_edit,{id:item.id}),
                'fa fa-edit',
                'purple',
                'primary'
            ) }}
        {% endif %}

    </div>
</div>
{{ del.delete_form(route_del,item.id, 'show') }}
